@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');

body{
    font-family: 'Nanum Gothic', sans-serif, Arial; 
}
h1{
    font-size: 20px; line-height: 25px; color: #06f;
}
h2{
    font-size: 18px; line-height: 25px; color: #f60;
}
h3{
    font-size: 16px; line-height: 25px; color: #0f6;
}
p{
    font-size: 14px;
}
p.letter{
    letter-spacing: -1px;
}
p.word{
    word-spacing: 10px;
}
p.w_normal{
    width: 150px; white-space: normal; line-height: 21px;
}
p.w_nowrap{
    width: 150px; white-space: nowrap;
    border: 1px solid black;
    text-overflow: ellipsis; overflow: hidden;
}